################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EcommerceMVC
.vs/ProjectEvaluation/ecommercemvc.metadata.v8.bin
# tất cả file trong thư mục debug sẽ không được commit
/EcommerceMVC/bin/Debug
/EcommerceMVC/obj

